h1{
  margin: 0px;
}

.App {
  text-align: center;
}

.header{
  background-color: lightgray;
}

.room-list {
  float: left;
  text-align: left;
  width: 25%;
  height: 100vh;
  background-color: lightgray;
}
